[Unit]
Description=Sirity | Wireguard SSH VPN Access - Master
After=sshd.service

[Service]
Type=simple
ExecStart=/bin/sh /System/Sirity/Wireguard/Master.sh

[Install]
WantedBy=default.target